.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(./images/buttons.png) no-repeat;
}

.item {
  margin: 5 2 2 5px;
}

.content {
  margin: 0 0 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dec {
  background-position: 0 -29px;
}

.delete {
  margin: 0 0 0 5px;
}
